/* style-max-width-480px.css */
@media (max-width:480px){
	.user-panel-top li {
		margin-top: 0px;
	}
	.tab {
		margin: 0;
	}
	.pagination {
	  margin: 6px 0;
	}
	.main-content {
		min-height: 855px;
	}
span.label.label-default{
  line-height: 2em;
}
button.btn.btn-lg, button.btn{
  margin-bottom:3px;
}
.modal-dialog {
  width: 370px !important;
}
.coffee-top i {
  top: 82%;
  left: 39%;
}
.well1 {
  padding: 1em;
}
.panel-body1 {
  margin: 1em 0 0 0;
}
.panel-warning {
  margin-top: 1em;
}
.app-cam {
  width: 50%;
  margin: 2em auto auto auto;
}
.app-cam input[type="text"], .app-cam input[type="password"]{
  padding: 10px;
}  
.login-logo {
  padding: 40px 0;
}
.pull-left {
  width: 50%;
}
.mail-toolbar.clearfix {
  padding: 1em 0;
}
.copy_layout {
  padding: 10px;
}
button.btn.btn-success {
  padding:9px 12px;
}
.xs h3, .widget_head {
  font-size: 1.5em;
  margin-bottom: 15px;
}
.follow {
  padding: 1em 0;
}
.widget_1_box2 {
  margin-top: 0;
}
.wid_blog h1 {
  font-size: 1em;
}
.wid_blog {
  padding: 1em;
}
.widget_5 {
  margin: 0;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 5px !important;
}
td.head {
  font-size:1em !important;
}
div#container-speed{
	width:210px !important;
	height:150px !important;
}
div#container-rpm{
	width:210px !important;
	height:150px !important;
}
div#container-speed1{
	width:210px !important;
	height:150px !important;
}
div#container-rpm1{
	width:210px !important;
	height:150px !important;
}
.switches-right1 {
    padding:0;
}
ul.collection, .mailbox-content {
    padding: 1em 1em;
    background: #fff;
}
.float-left {
    float: none !important;
    width: 100%;
	margin:0 0 .5em;
}
.float-right, .pull-right {
    float: none !important;
}
.position-center {
    width: 100%;
    margin: 0 auto;
}
.form-group {
    margin-bottom: 0.5em !important;
}
.btn-block {
    display: block !important;
    width: 94% !important;
    margin: 0 auto !important;
}
.login-form-info {
    width: 90%;
}
.login-form-info input[type="submit"] {
    margin-left: 0.9em;
}
.sign-up1 {
    float: left;
    width: 38%;
}
.sign-up2 {
    float: left;
    width: 62%;
}
ul.dropdown-menu {
    min-width: 215px;
}
.toggle-btn {
    margin: .4em 1em 0 1em;
}
.sb-search.sb-search-open, .no-js .sb-search {
    min-width: 185px;
}
li.dropdown.profile_details_drop {
    margin-left: 1em;
}
.social_icons {
    margin: 0;
}

.user-panel-top li:first-child {
    margin: 0;
}

ul.dropdown-menu li {
    margin: 0;
}
.profile_details {
    margin: .5em 0 0 1em;
}
ul.dropdown-menu.drp-mnu {
    left: 0;
}
.menu-right {
    margin: .2em 0px 1em 0;
}
.sticky-header .main-content {
    padding-top: 145px;
}
.grow {
    left: 38%;
}
.left-side-collapsed .logo-icon {
    height: 140px;
}
.logo-icon a i {
    padding-top: 50px;
}
.grid_box1 {
    margin-bottom: .5em;
}
.main-content1 {
    min-height: 1680px !important;
}
.main-content2 {
    min-height: 2770px !important;
}
.main-content3 {
    min-height: 3005px !important;
}
.main-content4 {
    min-height: 1470px !important;
}
.panel-body-com-m {
    padding: 1em !important;
}
.main-content3copy {
    min-height: 1390px !important;
}
canvas#line1 {
    width: 380px !important;
}
canvas#pie {
    width: 380px !important;
    height: 245px !important;
}
canvas#bar1 {
    width: 380px !important;
}
.main-content5 {
    min-height: 1995px !important;
}
.grid_3 {
    margin-bottom: 1em;
}
.media_1-right {
    margin-top: 1em;
}
.main-content6 {
    min-height: 2605px !important;
}
.sign-in-form-top p {
    font-size: 1.7em;
}
.sign-in-form-top {
    min-height: 95px;
}
span.checkbox1 {
    width: 55%;
}
.log-input:nth-child(1) {
    margin: 1em 0 0;
}
.sign-in-form input[type="submit"] {
    font-size: 1em;
    padding: 0.5em 1em 0.5em 1em;
}
.signin:after {
    background: url(./images/6.png) no-repeat 0px 0px;
    width: 405px;
    background-size: 100%;
}
.error-main h3 {
    font-size: 2.5em;
}
.main-content2copy {
    min-height: 700px !important;
}
}
